body {
    background-color: black;
    color: red;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.centered-img-container {
    margin: auto;
    max-width: 600px;
}



.centered-img {
    max-width: 100%;
}

.img-full-width {
    max-width: 1080px;
}

.img-third-width {
    max-width: 360px;
}

.img-quarter-width {
    max-width: 270px;
}
h1, h2 {
    text-align: center;
}

header {
    margin-bottom: 90px;
    color: orange;
}


.video-container {
    max-width: 80%;
    margin: auto;
    
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    text-align: left;
}